cffi==2.0.0
certifi==2025.11.12
certifi==2026.1.4
setuptools==80.9.0
setuptools==80.10.1
sentence-transformers==5.2.0
cycler==0.12.1
yarl==1.22.0
threadpoolctl==3.6.0
nvidia-nvtx-cu12==12.8.90
timm==1.0.24
httpcore==1.0.9
typing_extensions==4.15.0
open_clip_torch==3.2.0
nvidia-cudnn-cu12==9.10.2.21
mpmath==1.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
openai==2.15.0
sniffio==1.3.1
nvidia-nccl-cu12==2.27.5
torch==2.10.0
ftfy==6.3.1
networkx==3.6.1
typing-inspection==0.4.2
idna==3.11
fsspec==2026.1.0
nvidia-cusolver-cu12==11.7.3.90
charset-normalizer==3.4.4
nvidia-cuda-runtime-cu12==12.8.90
jiter==0.12.0
numpy==2.4.1
python-dateutil==2.9.0.post0
joblib==1.5.3
nvidia-cuda-nvrtc-cu12==12.8.93
packaging==26.0
packaging==25.0
distro==1.9.0
attrs==25.4.0
kiwisolver==1.4.9
six==1.17.0
psutil==7.2.1
psutil==7.1.3
triton==3.6.0
annotated-types==0.7.0
nvidia-cuda-cupti-cu12==12.8.90
scikit-learn==1.8.0
fonttools==4.61.1
python-dotenv==1.2.1
safetensors==0.7.0
nvidia-cusparselt-cu12==0.7.1
braceexpand==0.1.7
transformers==4.57.6
nvidia-cusparse-cu12==12.5.8.93
multidict==6.7.0
accelerate==1.12.0
nvidia-nvshmem-cu12==3.4.5
webdataset==1.0.2
torchvision==0.25.0
nvidia-nvjitlink-cu12==12.8.93
propcache==0.4.1
anyio==4.12.1
anyio==4.11.0
cuda-pathfinder==1.3.3
PyYAML==6.0.3
pillow==12.1.0
hf-xet==1.2.0
pydantic==2.12.5
scipy==1.17.0
urllib3==2.6.3
urllib3==2.5.0
wcwidth==0.3.2
wcwidth==0.2.14
huggingface-hub==0.36.0
aiohappyeyeballs==2.6.1
nvidia-curand-cu12==10.3.9.90
h11==0.16.0
nvidia-cufile-cu12==1.13.1.3
tokenizers==0.22.2
aiosignal==1.4.0
pyparsing==3.3.2
aiohttp==3.13.3
nvidia-cufft-cu12==11.3.3.83
cuda-bindings==12.9.4
requests==2.32.5
matplotlib==3.10.8
sympy==1.14.0
frozenlist==1.8.0
pydantic_core==2.41.5
filelock==3.20.3
regex==2026.1.15
tqdm==4.67.1
pyarrow==23.0.0
httpx==0.28.1
contourpy==1.3.3
pandas==3.0.0
nvidia-cublas-cu12==12.8.4.1
defusedxml==0.7.1
jupyter-lsp==2.3.0
comm==0.2.3
executing==2.2.1
fqdn==1.5.1
python-json-logger==4.0.0
jsonschema-specifications==2025.9.1
webcolors==25.10.0
isoduration==20.11.0
rfc3986-validator==0.1.1
bleach==6.3.0
debugpy==1.8.17
nest-asyncio==1.6.0
referencing==0.37.0
uri-template==1.3.0
jupyterlab_pygments==0.3.0
jupyterlab==4.5.0
parso==0.8.5
ipykernel==7.1.0
ipython==9.7.0
nbconvert==7.16.6
jupyter-server-mathjax==0.2.6
argon2-cffi==25.1.0
pandocfilters==1.5.1
json5==0.12.1
babel==2.17.0
pyzmq==27.1.0
platformdirs==4.5.0
decorator==5.2.1
jupyter_core==5.9.1
jupyter-events==0.12.0
matplotlib-inline==0.2.1
arrow==1.4.0
jupyterlab_git==0.51.2
tinycss2==1.4.0
tzdata==2025.2
tornado==6.5.2
jsonschema==4.25.1
nbclient==0.10.2
fastjsonschema==2.21.2
rfc3339-validator==0.1.4
stack-data==0.6.3
asttokens==3.0.1
pure_eval==0.2.3
ptyprocess==0.7.0
beautifulsoup4==4.14.2
jupyter_server==2.17.0
mistune==3.1.4
traitlets==5.14.3
webencodings==0.5.1
prompt_toolkit==3.0.52
lark==1.3.1
jedi==0.19.2
nbformat==5.10.4
ipython_pygments_lexers==1.1.1
prometheus_client==0.23.1
jupyter_server_terminals==0.5.3
jsonpointer==3.0.0
rpds-py==0.29.0
Send2Trash==1.8.3
smmap==5.0.2
async-lru==2.0.5
jupyter_client==8.6.3
colorama==0.4.6
notebook_shim==0.2.4
Pygments==2.19.2
gitdb==4.0.12
jupyterlab_server==2.28.0
pexpect==4.9.0
pycparser==2.23
nbdime==4.0.2
terminado==0.18.1
GitPython==3.1.45
websocket-client==1.9.0
rfc3987-syntax==1.1.0
soupsieve==2.8
argon2-cffi-bindings==25.1.0
pip==25.3
wandb==0.24.2
jmespath==1.1.0
s3transfer==0.16.0
protobuf==6.33.5
sentry-sdk==2.52.0
botocore==1.42.44
boto3==1.42.44
click==8.3.1
config==0.5.1
peft==0.18.1
bitsandbytes==0.49.1
